html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 325px;    /* height of footer */
}

.custom-footer {
  height: 300px;
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000;
  color: #FFF;
  padding-top: 25px;
}

.header-image img {
    width: 100%;
    margin-top: -20px;
}

a.headerlink {
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

.container-background {
  background-color: #EEE;
  padding-bottom: 24pt;
}

.container-black {
  background-color: #000;
  color: #FFF;
  padding-bottom:12pt;
  margin-bottom: 0;
  padding-top: 24pt;
  margin-top: 0;
}

.navbar-default {
  background-color: #094ab2;
  border-color: #3880f5;
  max-height: 300px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e9e9e9;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e9e9e9;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #3880f5;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #eeeeee;
  background-color: #3880f5;
}
.navbar-default .navbar-toggle {
  border-color: #3880f5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3880f5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #eeeeee;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eeeeee;
    background-color: #3880f5;
  }
}

.container tt {
  font-family: inherit;
  font-size: 18px;
}

.container span {
  font-size: 14px
}

.container em {
  font-size: 18px;
}

.container table {
    border-collapse: collapse;
    border: thin;
    margin-bottom: 20px;
}

.container table td, .container table th {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.container table th {
  font-weight: bold;
}

.container table tr:nth-child(2n) {
  background: #f8f8f8;
}

.container table pre {
  font-size: 100%;
}

.container pre {
    background-color: rgba(0,0,0,0.04);
    margin: 1em 0px;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    width: 90%;
}

.container code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  border-radius: 3px;
  color: black;
  background-color: rgba(0,0,0,0.04);
  display: inline-block;
}

.container pre code {
    background-color: transparent;
    font-size: 100%;
}

.container a {
    text-decoration: none;
    color: #4183c4;
}

.container h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

p.rubric {
    font-size: 2.25em;
    line-height: 1.2;
    margin-bottom: 0px;
}

.container h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.container h5 {
    font-size: 1em;
}

.container h2, .container h3, .container h4, .container h5 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

span.highlighted {
  font-size: 1em;
}

.page-tile
{
  clear: both;
  margin-bottom: 20px;
}

.page-tile img {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.page-tile h4 {
  padding-top: 10px;
  margin-bottom: 0px;
}

.page-tile h5 {
  padding-top: 10px;
  margin-bottom: 0px;
}

.page-tile p {
  margin: 0px;
}

.parter-logo
{
  margin-top: 8px;
  margin-bottom: 8px;
}

.resource-tile h3
{
  font-weight: 200;
  padding-top: 4pt;
  background-color: #535353;
  color: white;
  height: 36pt;
  text-align: center;
}

.resource-tile p
{
  height: 30pt;
}

a:link
{
  color: #094ab2
}

.contact-us {
  font-size: 14px;
  font-family: 'Segoe UI',Tahoma,Helvetica,sans-serif;
}

.contact-us.contact-us-inline li {
  display: inline-block;
  margin-right: 20px;
  float: right;
  font-weight: 400;
  font-size: 15px;
}

.custom-footer a, .custom-footer a:hover, .custom-footer a:visited, .custom-footer a:visited:hover {
  text-decoration: none;
  color: #FFF;
  outline: none;
}

.microsoft-logo {
  margin-bottom: 20px;
  height: 25px;
  float: right;
  margin-right: 35px;
}

.heading {
  font-size: 17px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.links {
  font-family: 'Segoe UI',Tahoma,Helvetica,sans-serif;
  font-size: 21px;
}

.links li
{
  padding: 6px 0 6px 0;
}

.footer ul, .footer ol {
  padding: 0;
  list-style: none;
}

#tocbar ul
{
  padding-left: 20px;
  list-style: none;
}

#tocbar ul ul
{
  padding-left: 30px;
  list-style: square;
}
table.requestParameters {
  width: 90%;
  background-color: #EEE;
  border-spacing: 5px;
  margin-bottom: 10px;
}
table.requestParaemters td {
  padding: 10px;
}
div.buttonGroup {
  text-align: right;
}
pre code.expanded {
  overflow: auto;
  height: auto;
}
pre code.collapsed {
  overflow: hidden;
  max-height: 200px;
}
pre.withExpandCollapseButton {
  margin-bottom: 0;
}
.expandCollapseButton {
  cursor: pointer;
}
.expandCollapseButton+p {
  clear: both;
}
a.expandCollapseButton {
  border: solid thin #ccc;
  border-top: 0;
  display: inline-block;
  width: 90%;
  height: 41px;
  margin: 0 0 32px 0;
}
a.expandCollapseButton.collapse
{
  visibility: visible;
}
a.expandCollapseButton.collapse:before {
  background: url('/images/deltaForExpandUp.gif') no-repeat center left 16px;
}
a.expandCollapseButton:before {
  content: "";
  background: url('/images/deltaForExpandDown.gif') no-repeat center left 16px;
  width: 41px;
  height: 41px;
  float: left;
}
